.hero{
    display: flex;
}
.hero-text{
    width: 400px;
}
.hero-text>h2{
    margin: 0;
    padding: 0;
}
.hero-bottom{
    margin-left: 583px;
}
.hero-bottom>img{
    margin-right: 2px;
}
.hero-bottom__strong{
    margin-right: 6px;
}